.header-logo {
  display: flex;
  align-items: center;
  margin-top: -5px;

  &__img,
  &__title {
    display: block;
  }

  &__img {
    margin-right: 10px;
  }

  &__title {
    font-size: 1.875rem;
  }
}